.Card{
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ffffff;
    margin: 10px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 300px;
}

.Card .Title{
    color: #ffffff;  
    padding: 0px 20px;

}

.Card .Content{
    
    flex: 1;
    text-align: center;
    background-color: #ffffff;
    color: #000000(65, 60, 60);
}

